.title-bar{
    width: 100%;
    background-color: #d1b686;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    box-sizing: border-box;
}
