.collapse-header {
  display: flex;
  align-items: center;
  align-self: start;
  justify-content: center;
}

.collapse-title {
  font-size: 20px;
  margin-left: 5px;
}

.collapse-title-large {
  font-size: 40px;
  margin: 20px 5px;
}

.collapse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
