.collapse-header,
.collapse-header-large {
  display: flex;
  align-items: center;
  align-self: start;
  justify-content: center;
  width: 100%;
}

.collapse-header-large {
  width: 100%;
}

.collapse-header-large i {
  font-size: 28px;
}

.collapse-header h3 {
  font-size: 26px;
  margin-left: 5px;
  margin-right: 18px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  max-width: 80%;
  text-align: center;
}

.collapse-header-large h3 {
  font-size: 40px;
  margin: 20px 5px;
  margin-right: 28px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  max-width: 80%;
  text-align: center;
}

.collapse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

.complete,
.incomplete {
  font-size: 24px;
  width: 24px;
  text-align: center;
  margin-top: 8px;
}

.complete {
  color: rgb(21, 200, 81);
}

.incomplete {
  color: rgb(209, 10, 10);
}
