.comment-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
}

.comment-body{
    font-size: 16px;
    max-width: 80%;
    overflow-wrap: break-word;
    white-space:pre-wrap;
}

.comment-icon{
    margin:0 4px;
}
